
<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Le réseau n°1 des <a target="_blank" href="http://demenager-pas-cher.com"> déménagements pas cher </a>en transports groupés!</h2>
                <p class="lead"> Une entreprise artisanale et familiale, exerçant depuis plus de <strong>30 ans</strong></p>


            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>