<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Une entreprise artisanale et familiale, exerçant depuis plus de 25 ans, au service de l'écologie et de l'économie ! Avantage exclusif de notre structure: un réseau national vous permettant de déménager au moindre prix, grâce au concept du groupage pas cher, et une réduction du nombre de camion sur les routes</p>
            </div>
            <div class="col-lg-4">
                <p>Déménageurs professionnels, évitez vos retours à vide, complétez vos trajets avec des clients souhaitant déménager en voyage groupé! Rentabilité maximale du déplacement des camions. La confrérie du déménagement est de retour!</p>
            </div>

        </div>
    </div>
</section>

